@using BusinessLayer
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Commercial AD</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    @RenderSection("header", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MCA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Make A submission <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li>                                
                                <a href='/Examples/DiscoveryService'><i class="fa fa-search"></i> Discovery Service</a>
                            </li>*@
                            <li>
                                <a href='/Examples/YouTubeViewUploads'><i class="fa fa-youtube-play"></i> View Uploads</a>
                            </li>
                            @*<li>
                                <a href='/Examples/MirrorTimeline'><i class="fa fa-google"></i> Mirror API</a>
                            </li>
                            <li>
                                <a href="/Examples/JustDrive"><i class="fa fa-file-text-o"></i> Just Drive</a>
                            </li>
                            <li>
                                <a href="/Examples/PlusMinus"><i class="fa fa-google-plus"></i> Plus Minus</a>
                            </li>*@
                        </ul>
                    </li>

                    
                    

                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Commercial AD Application </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/amazingslider")
    @RenderSection("scripts", required: false)
</body>
</html>
